body {
  background-color: purple;
  }

#banner {
  
  background-image: url();
  background-position: center;
  font-size: 1.5em;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 16rem;
}

body h1, h2 {
  color: gold;
  font-size: 2em;
  font-family: Georgia;
  text-align: center;
  padding-top: 80px;
  width: 100%;
}

body ul, li, h3, h4 {
  color: gold;
}
p {
  font-size: 20px;
}

h2.about{
  
}