.App {
  text-align: center;
  background: url(https://media.giphy.com/media/BHNfhgU63qrks/source.gif);
  width: 100%;
  height: 1000px;
  background-size: cover;
}
.Header {
  margin-top: 1000px;
}
.App-port {
  align: center;
  margin-top: 100px;
  width: 300px;
  height: auto;

  border: 4px #daa520;
  
}

.App-link {
  color: #09d3ac;
}

.About-Me {}
